@charset "utf-8";

*{
    box-sizing:border-box;
}

body{
    background-color:beige;
}

main{
    max-width:800px;
    margin:auto;
    margin-top:0;
    background-color:white;
}

header{
    font-size:30px;
    text-align:center;
    margin:5px;
}

section{
    display:grid;
    grid-template-columns:50px auto 50px;
    grid-gap:10px;
}

article{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-gap:10px;
}

img{
    width:100%;
}

.kartya, #fokep{
    margin:5px;
}

button{
    height:100%;
}
